<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="reset.css">
</head>

<body style = "text-align:center">
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <br>
    <h3>{{ mars.Mars_news_title }}</h3>
    <p>{{ mars.Mars_news_text }}</p>
    <hr>  
  </div>
  <br>
  <br>
  <div class="row" style = "text-align:center">
    <div class="col-md-9" >
      <h2 style="color: black" ><b>Featured Image</b></h2>
      <br>
        <img src="{{mars.Mars_feature_image_url}}" class="img-feature">
    </div>
    <div class="col-md-3">
      <div class="container" style=" margin-left: -40%; text-align: center;">
        <h2 style="color: #000000" ><b>Current Weather</b></h2>
        <p style="color: #000000" >{{mars.Mars_weather}}</p>
        <br>
        <br>
        <br>
        <hr>
        <h2 style="color:#000000">Mars Facts</h2> 
        <br>
        {{mars.Mars_fact | safe}}
      </div>
    </div>
  </div>
  <hr>
  <h2>Mars Hemispheres</h2>
  <br>
  <div class="col-md-12">
    <div class="row" id="mars-hemispheres">
        {% for dict in mars.Mars_hemisphere %}
        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="margin: 30px;">
                <img class="card-img-top" src="{{dict.Image_url}}">
                <div class="card-body">
                    <p class="card-text">{{dict.Title}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4 
</body>

</html>
